/*   General Styles  */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

 img {
  max-width: 100%;
  max-height: 100%;
}

/*   Groups & Items  */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/*   Navigation  */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/*   Search Form  */
form {
  border: 2px solid #ff385c;
  padding: 20px;
}

form div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}


/*  About  */
#about img {
  padding: 20px 0;
}


/*   Footer  */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}
/*   Media Query  */
@media all and (min-width: 480px) {
  .group {
      flex-direction: row;
  }
  header {
      padding: 0;
  }
}

/*   Media Query - 480px is too small to work for everything without cutting off the header */
@media all and (min-width: 800px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .logo {
    font-size: 30px;
  }

  header nav ul li {
    padding: 0 8px;
  }

  /* stay */
 #stay form {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   padding: 0px 10px;
 }
 #stay div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 5px;
}

/* About */

#about .about-inner-content { 
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%; 
  text-align: center;
  }

  #about p {
    width: 50%;
  }

  #about img {
      width: 250px;
      padding: 30px;
  }

  /* Ideas */ 
  #ideas .ideas-container {
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin: 40px auto;
  }

  #ideas img {
    width: 350px;
    padding: 20px;
  }

  #ideas .forests {
    display: flex;
    flex-direction: column;
  }

  #ideas .beaches {
    display: flex;
    flex-direction: column;
  }

  #ideas .invis-mobile {
    display: inline-block;
  }

  #ideas .rustic-cabins {
    display: none;
  }

  #ideas .pet-friendly {
    display: none;
  }
  
  /* Host */ 

  #host {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  #host .host-group {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: flex-start;
  }

  #host img {
    width: 50%;
    justify-content: flex-end;
  }
}
